/* You can add global styles to this file, and also import other style files */
body{
    background: linear-gradient(rgba(105, 105, 105, 0.5), rgba(56, 56, 56, 0.5)), url(./assets/img/fondo.jpg);
    /* background-image: url(./assets/img/fondo.jpg); */
    background-position: center;
    background-size: cover;
    height: 100vh;
}
